<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
  
    <div class="card cardLink">
      <div class="card-body">
        <a href="/post/{{post.id}}">
        <h5 class="card-title" style="display: inline-block">{{title}}</h5><span class="card-author" style="float: right">Created by {{user.name}} on {{format_date date_created}}</span>
        {{!-- <p class="card-description">{{description}}</p> --}}
        </a>
      </div>
  </div>
  
{{/each}}