       
       {{!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>You are logged out!</strong>
       </div> --}}

<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}

  <div class="card cardLink">
    <div class="card-body">
      <a href="/post/{{post.id}}">
        <h5 class="card-title" style="display: inline-block">{{title}}</h5><span class="card-author"
          style="float: right">Created by {{user.name}} on {{format_date createdAt}}</span>
        {{!-- <p class="card-description">{{description}}</p> --}}

      </a>
    </div>
  </div>

{{/each}}