<div class="row">
  <div class="col-auto">
    <h2>Hello, {{name}}!</h2>
    <p>Welcome to your home away from home, where you can create new, update existing, or delete obsolete posts.</p>
    <a href="/api/post/create"><button class="btn btn-sm btn-dark" id="btn-create-post">Create Post</button></a>
  </div>
</div>
<hr>
<div>
  <h3 style="display: inline-block">My Posts:</h3>
</div>
{{#if posts.length}}
  <div class="col-md-12 post-list">
    <!-- Loop over each object in the posts array -->
    {{#each posts as |post| }}
      <div class="card cardLink">
        <div class="card-body">
          <a href="/post/{{post.id}}">
            <h5 class="card-title">{{title}}</h5>
          </a>
          {{!-- Split into partial? --}}
          <p class="card-description">{{description}}</p>
          <p class="card-author">Created by {{name}} on {{format_date createdAt}}</p>
          <div class="col-md-4">
            <button class="btn btn-sm btn-dark" data-id="{{post.id}}">Edit</button>
        </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
</div>

<script src="./js/myPosts.js"></script>